<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Computer Store</display-name>

    <welcome-file-list>
        <welcome-file>/login</welcome-file>
    </welcome-file-list>

    <!--Filters-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.equrence.servlet.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.equrence.servlet.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AdministrationFilter</filter-name>
        <filter-class>com.equrence.servlet.filter.AdministrationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdministrationFilter</filter-name>
        <url-pattern>/administration/*</url-pattern>
        <url-pattern>/view/administration/*</url-pattern>
    </filter-mapping>
</web-app>
