<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Computer Store</display-name>

    <welcome-file-list>
        <welcome-file>/login</welcome-file>
    </welcome-file-list>

    <!--Filters-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.equrence.servlet_filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.equrence.servlet_filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AccountingFilter</filter-name>
        <filter-class>com.equrence.servlet_filter.AccountingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccountingFilter</filter-name>
        <url-pattern>/accounting/*</url-pattern>
        <url-pattern>/view/accounting/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ManagementFilter</filter-name>
        <filter-class>com.equrence.servlet_filter.ManagementFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagementFilter</filter-name>
        <url-pattern>/management/*</url-pattern>
        <url-pattern>/view/management/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SellingFilter</filter-name>
        <filter-class>com.equrence.servlet_filter.SellingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SellingFilter</filter-name>
        <url-pattern>/selling/*</url-pattern>
        <url-pattern>/view/selling/*</url-pattern>
    </filter-mapping>

    <!--Error pages-->
    <error-page>
        <error-code>403</error-code>
        <location>/view/error/error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/view/error/error404.jsp</location>
    </error-page>
</web-app>
